.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.comments{
  width: 100%;
  border: 0px solid;
  margin: 0;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(203, 216, 215);
  text-align: center;
}
.comment{
  margin: 10px auto;
  padding: 10px;
  background-color: rgb(255, 237, 205);
  border: 0px solid;
  border-radius: 10px;
  width: 20%;
}
.listComments{
  list-style: none;
  position:relative;
}
.commentsForm{
  margin: 10px auto;
  padding: 10px;
  border: 0px solid;
  background-color: rgb(164, 204, 226);
  border-radius: 10px;
  width: 40%;
}
.elementFormComment{
  margin-right: 10px;
}
